<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.rbkmoney.magista">
        <level value="info"/>
    </logger>

    <logger name="org.apache.kafka">
        <level value="warn"/>
    </logger>

    <logger name="org.springframework.boot.test.context">
        <level value="warn"/>
    </logger>

</configuration>
